<div class="col-sm-auto sticky-top mt-3 header m-3 sticky-offset" style="background-color: #ffffff;">
    <div class="d-flex flex-sm-column rounded-sidebar flex-row flex-nowrap align-items-center sticky-top sticky-offset" style="background-color: #ffffff;">
        <ul class="p-2 nav nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
            <li class="nav-item mt-3">
                <a href="/immobilisation/reception.jsp" class="link-dark nav-link rounded-circle item">
                    <i style="color: rgb(0, 0, 0);" class="bi-box-seam fs-4"></i>
                </a>
            </li>
            <!-- <li class="nav-item mt-3">
                <a href="/immobilisation/bien.jsp" class="link-dark nav-link rounded-circle item">
                    <i style="color: rgb(0, 0, 0);" class="bi-view-list fs-4"></i>
                </a>
            </li> -->
            <li class="nav-item mt-3">
                <a href="/immobilisation/list-bien.jsp" class="link-dark nav-link rounded-circle item">
                    <i style="color: rgb(0, 0, 0);" class="bi-speedometer2 fs-4"></i>
                </a>
            </li>
            <li class="nav-item mt-3">
                <a href="/immobilisation/inventaire/" class="link-dark nav-link rounded-circle item">
                    <i style="color: rgb(0, 0, 0);" class="bi-basket fs-4"></i>
                </a>
            </li>
            <li class="nav-item mt-3">
                <a href="/commercial/log-out.do" class="link-dark nav-link rounded-circle item">
                    <i style="color: rgb(0, 0, 0);" class="bi-box-arrow-left fs-4"></i>
                </a>
            </li>
        </ul>
    </div>
</div>